
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-image:url(../img/pexels-la-miko-3616764.jpg) ;
}
/* ------------------HEADER------------------ */
header{
    display: flex;
    align-items: center;
    background-color: #E9DAC1;
    justify-content: space-evenly;
    text-shadow: 8px 10px 6px rgb(75, 75, 75);
    border-bottom: 4px solid black;
}
header a{
    list-style-type: none;
    color:white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}
header nav{
    padding-right: 23%;
    padding-top:30px;
}
header a:hover{
    color: white;
}
header nav ul li {
    display: flex;
    display: inline-block;
    padding-bottom: 20px;
    padding: 10px;
}

header ul li{
    list-style-type: none;
}

header nav ul li a{
    display: flex;
    text-decoration:none ;
    color:black;
    font-size: 0.5cm;
}
/* ------------------INDEX------------------ */
#imgPrincipal{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 100%;
}
#imgPrincipal img{
    width: 100%;
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-decoration: underline;
}

main .librosNov{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-around;
    grid-row-gap:20px;
    padding-bottom:20px;
}
.imageIndex{
    height: 383px;
    width: 250px;
    border: 2px solid black;
}

main .librosMas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-around;
    grid-row-gap:20px;
    padding-bottom: 20px;
}

.newsLetter{
    border: 10px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}
h4 .textNews{
    font-size: x-large;
    padding-right: 30px;
    padding-left: 60px;

}

#news img{
    height: 190px;
    width: 190px;
}

/* ------------------BOTON INDEX------------------ */
span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    padding-top: 10px;
    left: 44.5%;
    padding-bottom: 20px;
}
span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
}
span a:before,
span a:after{
    position: absolute;
    content: "UNIRME";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}
span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}
span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}
/*-------------------TIENDA------------------*/
#mainTienda{
    padding-bottom: 50px;
    margin-top: 20px;
}

main .galeria{
    grid-row-gap:40px;
    grid-column-gap:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.container {
    position: relative;
}

.image {
    opacity: 3;
    transition: .8s ease;
    backface-visibility: hidden;
    width:264px;
    height:405px;
    border: 2px solid black;
    box-shadow: 6px 3px 8px gray;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: 10px 10px 10px gray;
    border: 2px solid black;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #DE8971;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    text-shadow: 9px 3px 6px black ;
}
.text a{
    text-decoration: none;
    color: black;
}
/*-------------------MAS VENDIDOS----------------*/
h3.cienMillones{
    margin-left: 50px;
    padding: 20px;
}
#mainVendidos{
    background-image:url(../img/pexels-la-miko-3616764.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.img-vendidos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 20px;
}
h5{
    font-size: large;
    padding: 60px;
}


div.img-vendidos img {
    border: 1px solid black;
    width:264px;
    height:405px;
    box-shadow: 6px 3px 8px gray;
}

hr{
    border: 2px solid black;
}
/*------------------TOP AUTORES------------------*/
.biografia{
    padding: 40px;
}
.autores-top{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 70%;
}
.autores-top img{
    width:auto;
    height:335px;
    border: 2px solid black;
    box-shadow: 6px 3px 8px gray;
}
main .galeriaTop{
    padding: 40px;
    grid-row-gap:50px;
    grid-column-gap:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
/*------------------CONTACTO------------------*/
#mainContacto{
    text-align: center;
    background-image: url(../img/pexels-saliha-9893354.jpg);
    background-size: cover;
    background-position: center;
}
#mainContacto h3{
    padding:30px;
    color: white;
    text-shadow: 15px 9px 4px black ;
}

input, select {
    width: 50%;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #7B6079;
    border-radius: 4px; 
    box-sizing: border-box;
}

input[type=submit] {
    width: 60%;
    background-color: #54BAB9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #378887;
}

div form{
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.4);
    padding: 105px;
}
/* ------------------FOOTER------------------ */
footer{
    background-color: #E9DAC1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 5px 5px 6px black;
    border-top: 4px solid black;
}
footer a:hover{
    color: white;
}
footer ul li{
    width: 200px;
    list-style: none;
}
footer a{
    text-decoration: none;
    color:black;
    font-size: 23px;
    text-transform: capitalize;
}
footer #links .socialMedia{
    display: inline-block;
    width: 40px;
}
footer #links a img{
    height: 40px;
    width: 40px;
}
footer div img{
    height: 130px;
    width: 170px;
}